[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
			  display: none !important;
}

#body {
 	background-size: 1400px 700px;
}

input {
	border-radius: 3px;
}

h2 {
	color: red;
}

hr {
	color = red;
	ba
}

Body {
	background-color: #8eafe5;
}

td {
	margin: 2px solid black;
	border: 2px solid black;
	padding: 5px;
	background-color: #8eafe5;
}

th {
	margin: 2px solid black;
	border: 2px solid black;
	background-color: #8eafe5;
}

